<form>
<div class="plataforma-container">

   <!-- Pregunta con opciones de radio buttons -->
  <div class="pregunta">
    <p class="titulo">¿A dónde sueles dirigirte durante la semana habitualmente?</p>
    <label><input type="radio" name="destino" value="trabajo"> Trabajo</label><br>
    <label><input type="radio" name="destino" value="estudios"> Estudios</label><br>
    <label><input type="radio" name="destino" value="actividad-fisica"> Actividades Físicas</label><br>
    <label><input type="radio" name="destino" value="familia-amigos"> Visita Familiares/Amigos</label><br>
    <label><input type="radio" name="destino" value="medico"> Médico</label>
  </div>

  <!-- Botones en la parte inferior -->
  <div class="botones">
    <button (click)="goBackSeccionHome()" class="boton-home">
      <span class="material-icons">home</span>
    </button>
    <button (click)="goToNextSeccionTwo()" class="boton-siguiente">
      <span class="material-icons">arrow_forward</span>
    </button>
  </div>

</div>
</form>
