<form>
    <div class="plataforma-container">
        <p class="titulo">Haz seleccionado caminar</p>

        <div class="container">

            <div class="imagen-container">
                <img src="../../../assets/icons/caminandoGif.gif" alt="fondo" class="image-bottom-right fade-in">
            </div>

            <div class="card-container">
                <div class="card">
                    <p>
                        Caminar es una actividad física simple y accesible que ofrece múltiples beneficios para la salud. Ayuda a mejorar la circulación sanguínea, fortalecer el corazón y los pulmones, y reduce el riesgo de enfermedades crónicas como la diabetes y la hipertensión.
                        También mejora el estado de ánimo, alivia el estrés y contribuye al control del peso corporal. Además, caminar regularmente puede aumentar la energía y mejorar la calidad del sueño. Es una forma fácil y efectiva de mantener el
                        cuerpo activo y saludable.
                    </p>
                </div>
            </div>

        </div>

        <div class="container-buttom">
            <button (click)="goBackSeccionHome()" class="eco-button">
              <span class="material-icons">home</span>
            </button>
        </div>

    </div>
</form>
