<form>
  <div class="plataforma-container">
    <p class="titulo">¿Cuántos kilómetros recorres habitualmente cada día para dirigirte a tu destino?</p>

    <!-- preguntas.component.html -->
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <div class="radio-group">
            <input type="radio" id="cero" name="actividad" value="CeroUno">
            <label for="cero">0 < 1 km</label>

            <input type="radio" id="uno" name="actividad" value="UnoDos">
            <label for="uno">1 < 2 km</label>

            <input type="radio" id="dos" name="actividad" value="DosCuatro">
            <label for="dos">2 < 4 km</label>

            <input type="radio" id="cuatro" name="actividad" value="CuatroSeis">
            <label for="cuatro">4 < 6 km</label>

            <input type="radio" id="seis" name="actividad" value="SeisOcho">
            <label for="seis">6 < 8 km</label>

            <input type="radio" id="ocho" name="actividad" value="OchoDiez">
            <label for="ocho">8 < 10 km</label>
          </div>
        </div>
      </div>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="botones">
      <button (click)="goBackSeccionOne()" class="boton-home">
        <span class="material-icons">arrow_back</span>
      </button>
      <button (click)="goToNextSeccionThree()" class="boton-siguiente">
        <span class="material-icons">arrow_forward</span>
      </button>
    </div>

  </div>
</form>
