<div class="form-container">
  <!-- Formulario de preguntas -->
  <form *ngIf="!isFinished" (ngSubmit)="onSubmit()">
    <div class="question-container">
      <div class="question">
        <h2>{{ questions[currentIndex].question }}</h2>

        <!-- Mostrar las opciones de respuesta -->
        <div *ngFor="let option of questions[currentIndex].options">
          <input
            type="radio"
            [name]="questions[currentIndex].question"
            [value]="option"
            (change)="onAnswerChange(option)"
          />
          <label>{{ option }}</label>
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="navigation-buttons">
        <!-- Botón de regresar -->
        <button type="button" (click)="goBack()" [disabled]="currentIndex === 0">
          Regresar
        </button>

        <!-- Botón de continuar -->
        <button type="button" (click)="goForward()" [disabled]="currentIndex === questions.length - 1">
          Continuar
        </button>
      </div>
    </div>
  </form>

  <!-- Botón para ver resultados -->
  <div *ngIf="currentIndex === questions.length - 1">
    <button (click)="viewResults()">Ver Resultados</button>
  </div>

  <!-- Mostrar resultados -->
  <div *ngIf="isFinished" class="result-container">
    <h2>Resultados:</h2>
    <div *ngFor="let question of questions">
      <p><strong>{{ question.question }}:</strong> {{ question.answer }}</p>
    </div>
  </div>
</div>
