<div class="contenedor">
    <!-- Primera columna -->
    <div class="columna">
        <h3>Precios Actuales</h3>
        <div *ngFor="let producto of productos" class="producto">
            <img [src]="producto.img" alt="{{ producto.titulo }}">
            <p>{{ producto.titulo }}</p>
            <p class="precio">{{ producto.valor }}</p>
        </div>
    </div>

    <!-- Segunda columna (Oculta hasta hacer clic en "Comparar") -->
    <div class="columna comparacion" *ngIf="mostrarComparacion">
        <h3>Precios Comparados</h3>
        <div *ngFor="let producto of productosComparacion" class="producto">
            <img [src]="producto.img" alt="{{ producto.titulo }}">
            <p>{{ producto.titulo }}</p>
            <p class="precio nuevo-precio">{{ producto.valor }}</p>
        </div>
    </div>
</div>

<!-- Botón para mostrar la comparación -->
<button (click)="toggleComparacion()">
  {{ mostrarComparacion ? 'Ocultar Comparación' : 'Comparar' }}
</button>
