<div class="plataforma-container">
    <h1 class="titulo">PLATAFORMA</h1>
    <h1 class="titulo">EDUCOMUNICACIONAL</h1>
    <div class="resumen">
        <p>
            Los vehículos eléctricos son más beneficiosos para el medio ambiente debido a su menor huella de carbono y la ausencia de emisiones durante su operación. Sin embargo, la infraestructura y los costos siguen siendo desafíos a superar. Por otro lado, los
            vehículos de combustión interna siguen siendo populares por su mayor autonomía y la infraestructura de recarga disponible, pero son menos sostenibles a largo plazo debido a su impacto ambiental negativo.
        </p>
    </div>
    <form>
        <button (click)="goToNextSeccionOne()" class="boton-ecologico">Aprende más</button>
    </form>
</div>