.plataforma-container {
    height: 110vh; /* Ocupa el 100% de la altura de la ventana */
    background: linear-gradient(to right, #a8e6cf, #dcedc1);
    display: flex;
    /* flex-direction: column; Organiza los elementos en columna */
    /*align-items: center; /* Centra horizontalmente */
   /* justify-content: center; /* Centra verticalmente */
    /*text-align: center; /* Asegura que el texto está centrado */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    max-width: 100%;
    gap: 20px;
    padding: 20px;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #388e3c;
    text-align: center;
    display: block;
    width: 200%;
}

/* Contenedor de tarjetas centrado */
.card-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

/* Estilos de tarjeta */
.card {
    background-color: #ffffffe8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: auto;
    max-width: 500px;
    padding: 20px;
    margin: 10px;
    overflow: hidden;
}

/* Estilos del encabezado de la tarjeta */
.card-header {
    margin-bottom: 20px;
    text-align: center;
}

.card-header h2 {
    font-size: 24px;
    color: #333;
}

/* Estilos del cuerpo de la tarjeta */
.card-body {
    padding: 10px 0;
}

/* Contenedor de texto e imagen */
.texto-container, .imagen-container {
    flex: 1;
    max-width: 50%;
}

/* Estilo del resumen */
.resumen {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.6;
    max-width: 600px;
    text-align: justify;
}

/* Estilo para la imagen */
.imagen-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-bottom-right {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Agregar animación de aparición */
.image-bottom-right.fade-in {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos del botón ecológico */
.boton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.boton-ecologico {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    background-color: #388e3c;
    color: white;
    transition: transform 0.2s ease-in-out;
}

.boton-ecologico:hover {
    background-color: #2e7d32;
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    .plataforma-container {
        flex-direction: column;
        text-align: center;
    }

    .texto-container, .imagen-container {
        max-width: 100%;
    }

    .image-bottom-right {
        width: 90%;
    }
}
