<div class="plataforma-container">
    <div class="texto-container">
        <h1 class="titulo">PLATAFORMA</h1>
        <h1 class="titulo">EDUCOMUNICACIONAL</h1>
        <div class="resumen">
            <div class="imagen-fondo">
                <img src="../../../assets/icons/fondo7.png" alt="fondo" class="image-bottom-right fade-in">
            </div>
        </div>

        <!-- Botón centrado -->
        <div class="boton-container">
            <button (click)="goToNextSeccionOne()" class="boton-ecologico">Aprende más</button>
        </div>
    </div>

    <div class="imagen-container">
        <img src="../../../assets/icons/fondo.jpg" alt="fondo" class="image-bottom-right fade-in">
    </div>
</div>
