<form>
  <div class="plataforma-container">
    <h2 class="titulo">¿Qué tipo de transporte prefieres para tus desplazamientos diarios?</h2>

    <div class="container">
      <h3>ELECTRICOS</h3>
      <!--Electricos-->
      <div class="row">

        <div class="radio-tile-group">

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/scooter.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/bicicletaElec.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/motoElec.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/autoElec.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/tranvia.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/hombre.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

        </div>
      </div>
      <!--Combustion-->
      <h3>COMBUSTION</h3>
      <div class="row">

        <div class="radio-tile-group">

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/bicicleta.png" alt="Bicicleta">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/moto.png" alt="Moto">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/carro.png" alt="Auto">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/autobus.png" alt="Bus">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/hombre.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

          <div class="input-container">
            <input id="walk" type="radio" name="radio">
            <div class="radio-tile">
              <img src="../../../assets/icons/hombre.png" alt="Scooter">
              <label for="walk">Walk</label>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Botones en la parte inferior -->
    <div class="botones">
      <button (click)="goBackSeccionTwo()" class="boton-home">
        <span class="material-icons">arrow_back</span>
      </button>
      <button (click)="goToNextSeccionFour()" class="boton-siguiente">
        <span class="material-icons">arrow_forward</span>
      </button>
    </div>

  </div>
</form>
