<section>
  <h2>¿Qué tipo de transporte prefieres para tus desplazamientos diarios?</h2>

  <div class="container">
      <!-- Columna de Transporte Eléctrico -->
      <div class="columna">
          <h3>ELECTRICOS</h3>
          <div class="opciones">
              <!-- Opción Scooter -->
              <div class="opcion-transporte">
                  <input type="radio" id="scooter" name="transporte" value="Scooter">
                  <label for="scooter">
                      <img src="../../../assets/icons/scooter.png" alt="Scooter">

                  </label>
              </div>

              <!-- Opción Bicicleta Eléctrica -->
              <div class="opcion-transporte">
                  <input type="radio" id="bicicleta-electrica" name="transporte" value="Bicicleta Eléctrica">
                  <label for="bicicleta-electrica">
                      <img src="../../../assets/icons/bicicletaElec.png" alt="Bicicleta Eléctrica">

                  </label>
              </div>

              <!-- Opción Moto Eléctrica -->
              <div class="opcion-transporte">
                  <input type="radio" id="moto-electrica" name="transporte" value="Moto Eléctrica">
                  <label for="moto-electrica">
                      <img src="../../../assets/icons/motoElec.png" alt="Moto Eléctrica">

                  </label>
              </div>

              <!-- Opción Auto Eléctrico -->
              <div class="opcion-transporte">
                  <input type="radio" id="auto-electrico" name="transporte" value="Auto Eléctrico">
                  <label for="auto-electrico">
                      <img src="../../../assets/icons/autoElec.png" alt="Auto Eléctrico">

                  </label>
              </div>

              <!-- Opción Tranvía -->
              <div class="opcion-transporte">
                  <input type="radio" id="tranvia" name="transporte" value="Tranvía">
                  <label for="tranvia">
                      <img src="../../../assets/icons/tranvia.png" alt="Tranvía">

                  </label>
              </div>

              <!-- Opción Pie -->
              <div class="opcion-transporte">
                  <input type="radio" id="pie-electrico" name="transporte" value="Pie">
                  <label for="pie-electrico">
                      <img src="../../../assets/icons/hombre.png" alt="Pie">

                  </label>
              </div>
          </div>
      </div>

      <!-- Columna de Transporte de Combustión -->
      <div class="columna">
          <h3>COMBUSTIÓN</h3>
          <div class="opciones">
              <!-- Opción Bicicleta -->
              <div class="opcion-transporte">
                  <input type="radio" id="bicicleta" name="transporte" value="Bicicleta">
                  <label for="bicicleta">
                      <img src="../../../assets/icons/bicicleta.png" alt="Bicicleta">

                  </label>
              </div>

              <!-- Opción Moto -->
              <div class="opcion-transporte">
                  <input type="radio" id="moto" name="transporte" value="Moto">
                  <label for="moto">
                      <img src="../../../assets/icons/moto.png" alt="Moto">

                  </label>
              </div>

              <!-- Opción Auto -->
              <div class="opcion-transporte">
                  <input type="radio" id="auto" name="transporte" value="Auto">
                  <label for="auto">
                      <img src="../../../assets/icons/carro.png" alt="Auto">

                  </label>
              </div>

              <!-- Opción Bus -->
              <div class="opcion-transporte">
                  <input type="radio" id="bus" name="transporte" value="Bus">
                  <label for="bus">
                      <img src="../../../assets/icons/autobus.png" alt="Bus">

                  </label>
              </div>

              <!-- Opción Pie -->
              <div class="opcion-transporte">
                  <input type="radio" id="pie" name="transporte" value="Pie">
                  <label for="pie">
                      <img src="../../../assets/icons/hombre.png" alt="Pie">

                  </label>
              </div>
          </div>
      </div>
  </div>

  <button type="submit">Siguiente</button>
</section>
